html, body {
  margin:0;
  height:100%;
}

.App {
  background-image: url(wood-pattern.png);
  background-color: #290100;
  height: 100%;
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'repeat';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.beerheader{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position:fixed;
  top:0;
  background-color: #5511107a;
  border: 1.5px solid #290100;
  font-size: calc(10px + 2vmin);
  padding-top: 2px;
  padding-bottom: 2px;
}

.footerItem {
  color: #fc8c8a;
  font-size: 50px;
  background-color: #5311109f;
  border: 2px solid #290100;
  border-radius: 15px;
  padding: 6px;
}

.footerItem:hover {
	color: #000;
	background-color:#643a39;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.initialsurveyTitle{
	color: #fc8c8a;
	font-size: 50px;
	background-color: #5311109f;
	border: 2px solid #290100;
	border-radius: 15px;
	padding: 6px;

}

.initialsurveybody{
	height: 100%;
	min-height: 80vh;
	padding-left: 30px;
	padding-right: 30px;
	display: grid;
	row-gap: 20px;
	grid-template-columns: auto auto auto;
	grid-template-rows: 15% 10% 30% 20%;
	
}

.questionInitialSurvey{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end:3;
	border: 3px solid #fcae49;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}

.answerInitialSurvey{
	padding-top: 5px;
	margin-bottom: 10px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.answerInitialSurvey:hover{
	cursor:pointer;
}

.answerlistitem{
	min-height: 100px;
	/* width: 100%; */
	margin: 0 auto;
	width:300px;
	margin-top: 10px;
	padding: 10px;
	border: 3px solid #fcae49;
	border-radius: 15px;
	color: pink;
	text-align: center;
}

.div1 {
	background-color: red;
	width: 200pt;
	height:200pt;
}


.beerbody{
	height: 100%;
	min-height: 80vh;
	padding-left: 30px;
	padding-right: 30px;
}
.onebeerbody{
	display: grid;
	row-gap: 15px;
	grid-template-columns: auto auto auto;
	grid-template-rows: 15% 50% 30% 20%;
}
.beerlistbody{
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 90px auto;
}

.beerlist{
	padding-top: 5px;
	margin-bottom: 10px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.topx{
	width: 100%;
	display:grid;
	grid-template-columns: 20% 40% auto;
}

.beerlistpicture{
	grid-column-start: 1;
	grid-column-end: 2;
}

.beerlistname{
	grid-column-start: 2;
	grid-column-end: 3;
	border-right: 3px solid #fcae49;
	border-left: 3px solid #fcae49;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.likedislikelist{
	grid-column-start: 3;
	grid-column-end: 4;
	display: flex;
	justify-content: center;
}

.beerlistdescription{
	grid-column-start: 3;
	grid-column-end: 4;
	padding-left: 5px;
	padding-right: 5px;
}

.beerlistitem{
	min-height: 100px;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	border: 3px solid #fcae49;
	border-radius: 15px;
	color: pink;
}

.beerpicture{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	/* border: 10px solid #fcae49; */
	display: flex;
	justify-content: center;
}

.beerdescription{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	border: 3px solid #fcae49;
	border-radius: 15px;
	padding: 10px;
}

.likedislike{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	display: flex;
	justify-content: center;
}

.LoginBody {
  width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
  background: linear-gradient( #0f0c29, #22179b, #8d8de9);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.signup label{
	color: #fff;
	font-size: 2.3em;
  padding-top: 15px;
  padding-bottom: 15px;
	justify-content: center;
	display: flex;
	margin: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 450px;
	background: rgb(247, 247, 253);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
  margin-top: 50px;
	color: #573b8a;
	transform: scale(.6);
  font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

/* star rating scheme */

.rate {
    float: left;
    height: 100px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:50px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	}
	
	.rating > input{
	 display:none;
	}
	
	.rating > label {
	position: relative;
	width: 0.8em;
	font-size: 4vw;
	color: #FFD700;
	cursor: pointer;
	}
	
	.rating > label::before{
	content: "\2605";
	position: absolute;
	opacity: 0;
	}
	
	.rating > label:hover:before,
	.rating > label:hover ~ label:before {
	opacity: 1 !important;
	}
	
	.rating > input:checked ~ label:before{
	opacity:1;
	}
	
	.rating:hover > input:checked ~ label:before{ 
	opacity: 0.4;
	 }

